body {
	background: url(images/outerspace_landscape.jpeg);
}

nav {
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
}

.img-circle {
	border-radius: 50%;
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

.box img {
	position: absolute;
	height: 200px;
	width: 200px;
}

.navbarlinks {
	position: fixed;
	display: inline;
	list-style-type: none;
	padding-left: 60px;
}
.navbarlinks li {
	display: inline-block;
}

.box {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 300px;
	width: 600px;
	border: 10px green dotted;
	top: 200px;
}

.cat {
	left: -100px;
	top: -100px;
}

.dog {
	bottom: -100px;
	right: -100px;
}